# Ignore apps that aren't needed for the mobile build
apps/api/

# Ignore documentation and other non-code folders
docs/
temp/
tmp/
*.log

# Ignore git and ide folders
.git/
.vscode/
.idea/

# node_modules are ignored by default by EAS, but we can be explicit
node_modules/
**/node_modules/
